/*  Still working on formatting, a lot of it 
is broken / not complete at this point  */

body {
  font-family: 'georgia', sans-serif;
}

/*HEADER*/
.headerLink {
	margin: 0;
	border: 1px solid lightgrey;
	background: lightgrey;
	color: black;
	padding: .5em;
}

.header {
	margin: .25em;
}

.header .selected {
	border: 1px solid lightgrey;
	background: white;

}

/*ITEM PANE*/
.inputFields {
	width: 45%;
	max-width: 300px;
	position: left;
	display: inline-block;
}

	.addDeleteButtons {
		padding: .25em;
	}

		.addButton, .deleteButton {
			border: 1px solid grey;
			padding: .25em;
			margin: .125em;
		}

		.addButton {
			background: lightgreen;
		}

		.deleteButton {
			background: salmon;
		}

	.inputField {
		float: left;
		width: 100%;
	}

	.input {
		float: right;
		width: 40%;
	}

.itemList {
	min-width: 300px;
	width: 30%;
	font-size: .9em;
	font-family: sans-serif;
	list-style: none;
	display: inline-block;
	margin: auto;
}

/*OUTPUT PANE*/
.output {
	font-family: times;
	font-size: 1em;
	width: 90%;
}

@media screen and (max-width: 550px) {
	.inputFields {
		font-size: .75em;
	}

}






